.wrap {
    margin: 0 auto;
    width: 310px;
    box-shadow: 15px 15px 20px 10px #c4c4c4;
    padding: 20px;
}
.wrap * {
    font-family: Verdana, sans-serif;
    letter-spacing: 1px;
}
.title {
    font-family: 'Comfortaa';
    letter-spacing: 3px;
    font-size: 40px;
    margin-top: .3em;
}