.title {
    font-family: 'Comfortaa';
    letter-spacing: 2px;
    font-size: 1.5em;
}
.text {
    font-family: Verdana, sans-serif;
    letter-spacing: 1px;
}
.img {
    transform: rotate(-10deg);
    opacity: .7;
}
.box_empty_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.repoList {
    padding: 0;
    height: 300px;
} 
.button_container {
    display: flex;
    justify-content: space-evenly;
}
.button {
    color: #000;
    font-family: 'Comfortaa';
    letter-spacing: 1px;
    font-size: 17px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 20px 0;
    transition: background-color .4s;
    outline: none;
    cursor: pointer;
}
.button:hover {
    background-color: #6c5ce742;
}
.disable {
    color: #c4c4c4;
}
.disable:hover {
    background-color: #eee;
}
