.wrap {
    margin: 0 auto;
    padding: 20px;    
    min-height: 450px;
}
.wrap * {
    font-family: Verdana, sans-serif;
    letter-spacing: 1px;
}
.title {
    font-family: 'Comfortaa';
    letter-spacing: 3px;
    font-size: 40px;
    margin-top: .3em;
}