.item {
    cursor: pointer;
    list-style-type: none;
    position: relative;
    padding: 8px;
}
.done {
    color: #555;
    text-decoration: line-through;
}
.icon_delete {
    position: absolute;
    right: 0;
    top: 6px;
    opacity: .3;
    transition: all .2s;
}
.item:hover .icon_delete{
    opacity: .8;
}